<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="form-container">
    <h2>SignUp</h2>
    <form action="/signup" method="POST">
        <div class="form-group">
            <label for="Name">Name:</label>
            <input type="name" name="name" id="name" required autocomplete="off" placeholder="Enter Your Name">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required placeholder="Password">
        </div>
        <button type="submit" class="submit-btn">SignUp</button>
        <p>Login here<a href="/">  <br> Login</a></p>
        
    </div> 
    
    </form>
    
    
</body>
</html>