<header>
   
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-win8.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2018.css">

    <!-- Navigation (Stays on Top) -->
    <div class="w3-container w3-mobile">
    <div class="w3-container w3-bar w3-2017-navy-peony w3-content w3-round-xxlarge w3-margin-top">
    <!-- <div class="w3-container w3-bar w3-2018-sargasso-sea w3-content w3-round-xxlarge"> -->
    <!-- <a href="/ro" class="w3-bar-item w3-button">Home</a> -->
    <a href="/authors/" class="w3-bar-item w3-button"><center>All</center> <center>Authors</center></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/authors/new" class="w3-bar-item w3-button"><center>Add</center><center>Author</center></a>
    
    <!-- <p><%#= uname %></p> -->
    <!-- align uname to right -->
    <!-- reduce font size -->
    
    <!-- Logout code -->
    <div class="w3-container w3-right">
    <a href="/auth/logout" class="w3-bar-item w3-button w3-2018-sargasso-sea w3-round-xxlarge w3-margin-top">Logout</a>
    <div class= "w3-container" style="text-align: right;">
        <div class= "w3-text-white" style="font-size: 14px;">
            <i> <b>as <%= uname %></b></i>
        </div>
    </div>
    <!-- <div style="text-align: right; font-size: 14px;"><i>Logged in as</i></div> -->
    
   
    <!-- <div class="w3-container w3-bar w3-2018-sargasso-sea w3-content w3-round-xxlarge w3-margin-top"> -->
        
    



    
    <!-- <div class= "w3-margin-right" style="text-align: right;"><div class= "w3-margin-right w3-margin-bottom style="font-size: 14px;"><i> as <%#= uname %></i></div></div> -->
</div>
    
</div>
</div>


    <!-- <div class= "w3-margin-right" style="text-align: right;"><div%= uname %></div> -->

    <!-- <p><%#= name1 %></p> -->
    <!-- <a href="#contact" class="w3-bar-item w3-button">About</a>
    <a href="#contact" class="w3-bar-item w3-button">Contact</a> -->
    <!-- </> -->
    
   <!-- <nav>  
        <a href="/ro">Home Page</a>
        <ul>
            <li><a href="/authors/">All Authors</a></li>
            <li><a href="/authors/new">Add Author</a></li>
        </ul>
    </nav> -->
     <!-- <div class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left" style="display:none" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large"
        onclick="w3_close()">Close &times;</button>
        <a href="#" class="w3-bar-item w3-button w3-hover-text-blue">Link 1</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-text-green">Link 2</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-text-yellow">Link 3</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-text-orange">Link 4</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-text-red">Link 5</a>
        <a href="#" class="w3-bar-item w3-button">Link 6</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-text-black">Link 7</a>
      </div> -->
      
      <!-- <div id="main"> -->
      
      <!-- <div class="w3-teal">
        <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
        <div class="w3-container">
           <h1>My Page</h1> 
        </div>
      </div> -->
    

 <!-- <script>
function w3_open() {
  document.getElementById("main").style.marginLeft = "25%";
  document.getElementById("mySidebar").style.width = "25%";
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
}
function w3_close() {
  document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
}
 </script> -->
<!-- </div> -->
</header>
