<div><b>Name: <%= author.name %></b> <br>
<b>Skill: </b><%= author.skill %> <br>
<b>Place: </b><%= author.place %> <br>
<b>Mobile:</b><%= author.num %>
</div>

<!-- generate ejs code for authors/show.ejs -->
<!-- <<%# layout('layouts/layout') %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1><%#= author.name %></h1>
            <p><%#= author.skill %></p>
            <p><%#= author.place %></p>
            <p><%#= author.num %></p>
        </div>
    </div>
</div> -->
